@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
}
  
body{
    background: #023047;
    display: flex;
    padding: 50px 402px;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.title{
    color: #FB8500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 90px;
    font-style: normal;
    font-weight: 720;
    line-height: normal;
    letter-spacing: 7.2px;
    text-transform: uppercase;
}

.create_button{
    width: 267px;
    height: 85px;
    background-color: #FFB703;
    color: #FFF;
    font-family: Roboto;
    font-size: 37px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
    border-radius: 40px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.study_button{
    width: 267px;
    height: 85px;
    background-color: #FFB703;
    color: #FFF;
    font-family: Roboto;
    font-size: 37px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border: none;
    border-radius: 40px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.create_button:hover, .study_button:hover {
    transform: scale(1.05);
}